@page
@model IndexModel?
@{
    ViewData["Title"] = "Accueil / Home";
}

<div class="text-center">

    <h1 class="display-4">Listes des personnes</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Personnes)
            {
                <tr>
                    <td>@item.Prenom</td>
                    <td>@item.Nom</td>
                    <td>@item.DateNaissance</td>
                    <td>@item.AgeActuel</td>
                </tr>
            }
        </tbody>
    </table>
</div>
